
* {
box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
font-family: Arial;
background-color: #1874CD;
/*#3498DB - dark blue #1874CD - darker blue  */
padding: 100px;
}

.Register-screen {
background-color: #FFF;
padding: 20px;
border-radius: 20px;
margin: 20px auto;
width: 1000px;


}

.Register-screen #error_message{
  margin-bottom: 20px;
  padding: 0px ;
  margin-left: 380px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  width: 200px;
  transition: all 0.5s ease;
}
.app-title {
text-align: center;
color: #353839;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 40px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid #d3dbff;
border-radius: 5px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 400px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 6px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 400px;
  margin: 0 auto;
}



.btn:hover {
  background-color: #2980B9;
}

#loginbtn{
  border: 2px solid transparent;
  background: #ffffff;
  color: black;
  font-size: 18px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-color: #3498DB;
  border-radius: 20px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 400px;
  margin: 0 auto;
}

#loginbtn:hover {
  background-color: #FCAD11;
}

#acc{
  color: white;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
    margin-top: 30px;
}



select {
  width: 266px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 2px solid #d3dbff;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("https://img.icons8.com/flat_round/64/000000/expand-arrow--v1.png") 96% / 10% no-repeat #EEE;
}

#language:focus, #nationality:focus, #city:focus,#district:focus, #zipcode:focus, #birth-place:focus, #contact:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

#language, #contact, #nationality, #city,#district, #zipcode, #birth-place{

  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid #d3dbff;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 267px;
  transition: border .5s;
}

#head{
  color: #636c72;  /* placeholder-color code */
}

#numloc{
  display: inline-flex;
  background-color: #ffe6e6;
  color: #e60000;
  border: 1px solid #aaa;
  box-sizing: border-box;
  text-align: center;
}
